@model PManager.Models.RegisterModels

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Email:
        </dt>
        <dd class = "col-sm-10">
           @Model.Email
        </dd>
        <dt class = "col-sm-2">
           Fullname:
        </dt>
        <dd class = "col-sm-10">
            @Model.Fullname
        </dd>
        <dt class = "col-sm-2">
            Phone:
        </dt>
        <dd class = "col-sm-10">
           @Model.Phone
        </dd>
        <dt class = "col-sm-2">
            Adress:
        </dt>
        <dd class = "col-sm-10">
           @Model.Adress
        </dd>
        <dt class = "col-sm-2">
            Birthday:
        </dt>
        <dd class = "col-sm-10">
           @Model.Birthday
        </dd>
    </dl>
</div>
<div>
    <a href="/Account/Update?email=@Model.Email">Update</a>
</div>
